# European jobs for Data Analyst entry level

**Purpose:** To visualize info on Data Analyst/BI Analyst entry level jobs in Europe <br>
**Data source:** сsv-file with offers parsed from LinkedIn for the period of a week (the date of parsing is 07-Sep-2022)

##Extracting features from html

According to our requirement description, we need
- job title
- city
- country
- job type (online, hybride, on-site)
- company name
- company size (number of employees)
- company field
- required hard skills
- offer date
- number of candidates for an offer

Let's import all the libraries we will need

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import seaborn as sns
from datetime import datetime
from datetime import timedelta

Let's read the csv-file. It is uploaded on Gooogle Docs and can be viewed publicly.

In [2]:

sheet_id = "1J1YaJspflrP-LV0MzJj1IXvTg0EHdVeqbxO5JRnip9c"
sheet_name = "masterskaya_yandex_2022_09_07"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
df = pd.read_csv(url)

Then we can take a peek on the data:

In [3]:
df.sample()

     Unnamed: 0                                               html
521         521  \n  <div>\n    <div class="\n        jobs-deta...

We have html data in here. Let's take a look on the first element to see the structure and the tags we will need for further info extraction. To see the actual structure and visually locate the tags, we can use the exact LinkedIn link or insert the html-code into any code editor.

In [4]:
job = df['html'][0]
job

'\n  <div>\n    <div class="\n        jobs-details__main-content jobs-details__main-content--single-pane full-width\n        ">\n        \n<!---->\n      \n<!---->\n      <div>\n        <div class="jobs-unified-top-card t-14">\n  <div class="relative">\n\n    <div class="jobs-unified-top-card__content--two-pane">\n<!---->\n        <a href="/jobs/view/3258155313/?alternateChannel=search&amp;refId=xQWMq5sHxPa4BOVKDp0TKg%3D%3D&amp;trackingId=grGqx%2FHW0EZ%2BorBvEr%2Ft%2Bg%3D%3D&amp;trk=d_flagship3_search_srp_jobs" id="ember464" class="ember-view">\n          <h2 class="t-24 t-bold jobs-unified-top-card__job-title">Stage - Assistant Ingénieur Qualité - Beyrand (H/F)</h2>\n        </a>\n\n      <div class="jobs-unified-top-card__primary-description">\n          <span class="jobs-unified-top-card__subtitle-primary-grouping t-black">\n            <span class="jobs-unified-top-card__company-name">\n                  <a href="/company/hermes-group/life/" id="ember465" class="ember-view t-black t-normal">\n                    Hermès\n                  </a>\n            </span>\n              <span class="jobs-unified-top-card__bullet">\n                Limoges, Nouvelle-Aquitaine, France\n              </span>\n\n              <span class="jobs-unified-top-card__workplace-type">On-site</span>\n          </span>\n          <span class="jobs-unified-top-card__subtitle-secondary-grouping t-black--light">\n              <span class="jobs-unified-top-card__posted-date\n                  jobs-unified-top-card__posted-date--new t-bold">\n                13 minutes ago\n              </span>\n<!---->          </span>\n      </div>\n\n      <div class="mt5 mb2">\n          <ul>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="job" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M17 6V5a3 3 0 00-3-3h-4a3 3 0 00-3 3v1H2v4a3 3 0 003 3h14a3 3 0 003-3V6zM9 5a1 1 0 011-1h4a1 1 0 011 1v1H9zm10 9a4 4 0 003-1.38V17a3 3 0 01-3 3H5a3 3 0 01-3-3v-4.38A4 4 0 005 14z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->Internship · Entry level<!---->\n                  </span>\n                </li>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="company" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M4 2v20h16V2zm14 18h-4v-2h-4v2H6V4h12zm-7-8H8v-2h3zm0 4H8v-2h3zm5-4h-3v-2h3zm-5-4H8V6h3zm5 0h-3V6h3zm0 8h-3v-2h3z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->10,001+ employees · Retail Luxury Goods and Jewelry<!---->\n                  </span>\n                </li>\n                    <li class="jobs-unified-top-card__job-insight jobs-unified-top-card__job-insight--highlight">\n                      <div class="flex-shrink-zero mr2 t-black--light">\n                        <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="lightbulb" size="medium"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M10 20h4v.1a1.9 1.9 0 01-1.9 1.9h-.2a1.9 1.9 0 01-1.9-1.9zm4.68-14.47A1 1 0 0016 5l.76-1.85a1 1 0 00-.54-1.3 1 1 0 00-1.31.54l-.76 1.85a1 1 0 00.53 1.29zm5.09 4.33l1.85-.76a1 1 0 00.54-1.31 1 1 0 00-1.3-.54L19 8a1 1 0 00-.54 1.31 1 1 0 001.3.55zM4.23 14.14l-1.85.76a1 1 0 00-.54 1.31 1 1 0 001.3.54L5 16a1 1 0 00.54-1.31 1 1 0 00-1.3-.55zm17.39.76l-1.85-.76A1 1 0 0019 16l1.85.76a1 1 0 00.78-1.86zM5 8l-1.86-.75a1 1 0 00-1.3.54 1 1 0 00.54 1.31l1.85.76A1 1 0 005 8zm3-3a1 1 0 001.31.54 1 1 0 00.54-1.3L9.1 2.38a1 1 0 00-1.31-.54 1 1 0 00-.54 1.3zm9 6.91V12a5.48 5.48 0 01-1.61 3.88l-.07.08a3.94 3.94 0 00-1.08 1.94L14 19h-4l-.24-1.08A4 4 0 008.68 16l-.07-.07A5.51 5.51 0 017 12v-.1A4.9 4.9 0 0111.9 7h.2a4.9 4.9 0 014.9 4.9zm-2 0A2.9 2.9 0 0012.11 9h-.21A2.9 2.9 0 009 11.9v.1a3.47 3.47 0 001 2.47l.08.08a5.92 5.92 0 011.5 2.45h.84a6 6 0 011.48-2.44l.08-.07A3.48 3.48 0 0015 12z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                      </div>\n                      <span>\n                        <!---->See recent hiring trends for Hermès.<span class="white-space-pre"> </span><a class="app-aware-link" target="_self" href="https://www.linkedin.com/premium/products/?family=JSS&amp;upsellOrderOrigin=premium_job_details_summary_card&amp;utype=job"><!---->Unlock more Premium insights for free<!----></a>\n                      </span>\n                    </li>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon type="radar-screen-icon" class="ivm-view-attr__icon--signal-positive " size="large" role="img" aria-label="Actively recruiting"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M12 20a8 8 0 010-16 7.91 7.91 0 014.9 1.69l-1.43 1.42a6 6 0 101.42 1.42l3.82-3.82a1 1 0 000-1.41A1 1 0 0020 3a1 1 0 00-.7.29l-1 1A10 10 0 1022 12h-2a8 8 0 01-8 8zm5-8a5 5 0 11-5-5 4.93 4.93 0 012.76.82l-2.24 2.24A2.24 2.24 0 0012 10a2 2 0 102 2 2.24 2.24 0 00-.07-.51l2.24-2.24A5 5 0 0117 12z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->Actively recruiting<!---->\n                  </span>\n                </li>\n          </ul>\n              </div>\n\n      <div class="mt5">\n          <div class="display-flex">\n              <div class="jobs-s-apply jobs-s-apply--fadein inline-flex mr2">\n    <div class="jobs-apply-button--top-card">\n  <button role="link" aria-label="Apply to Stage - Assistant Ingénieur Qualité - Beyrand (H/F) on company website" id="ember654" class="jobs-apply-button artdeco-button artdeco-button--icon-right artdeco-button--3 artdeco-button--primary ember-view">  <li-icon aria-hidden="true" type="link-external" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">\n  <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>\n</svg></li-icon>\n\n<span class="artdeco-button__text">\n    Apply\n</span></button>\n</div>\n</div>\n              <button class="jobs-save-button artdeco-button artdeco-button--3 artdeco-button--secondary" type="button">\n<!---->      <span aria-hidden="true">\n        Save\n      </span>\n    <span class="a11y-text">\n      Save Stage - Assistant Ingénieur Qualité - Beyrand (H/F) at Hermès\n    </span>\n</button>\n          </div>\n\n<!---->\n<!----><!---->      </div>\n\n<!---->\n<!---->\n<!---->\n<!---->    </div>\n\n<!---->\n<!---->\n    <div class="jobs-unified-top-card__buttons-container absolute">\n      <div class="display-flex flex-column">\n        <div class="display-flex justify-flex-end">\n            <div id="ember466" class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view">\n\n    <button aria-expanded="false" id="ember467" class="social-share__dropdown-trigger artdeco-button artdeco-button--3 artdeco-button--tertiary artdeco-button--circle artdeco-button--muted artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n      <li-icon aria-hidden="true" type="share-linkedin" class="artdeco-button__icon" size="medium"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M23 12l-4.61 7H16l4-6H8a3.92 3.92 0 00-4 3.84V17a4 4 0 00.19 1.24L5.12 21H3l-.73-2.22A6.4 6.4 0 012 16.94 6 6 0 018 11h12l-4-6h2.39z"></path>\n</svg></li-icon>\n      <span class="artdeco-button__text">Share</span>\n    \n<!----></button>\n\n  <div tabindex="-1" aria-hidden="true" id="ember468" class="social-share__content text-align-left artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n\n<div>\n    \n    \n<!---->    \n  \n\n</div>\n            <div id="ember469" class="artdeco-dropdown jobs-options artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view">\n  \n              <button aria-expanded="false" id="ember470" class="artdeco-button artdeco-button--3 artdeco-button--tertiary artdeco-button--muted artdeco-button--circle artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n                <li-icon aria-hidden="true" type="overflow-web-ios" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"></path>\n</svg></li-icon>\n                <span class="artdeco-button__text">\n                  Show more options\n                </span>\n              \n<!----></button>\n            \n  <div tabindex="-1" aria-hidden="true" id="ember471" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n        </div>\n<!---->      </div>\n    </div>\n  </div>\n    <div class="jobs-unified-top-card__sticky-header\n        jobs-unified-top-card__sticky-header--disabled">\n      <div class="jobs-unified-top-card__title-container">\n          <a data-control-id="grGqx/HW0EZ+orBvEr/t+g==" href="/jobs/view/3258155313/?alternateChannel=search&amp;refId=xQWMq5sHxPa4BOVKDp0TKg%3D%3D&amp;trackingId=grGqx%2FHW0EZ%2BorBvEr%2Ft%2Bg%3D%3D&amp;trk=d_flagship3_search_srp_jobs" id="ember472" class="ember-view">\n            <h2 class="t-16 t-black t-bold truncate">\n              Stage - Assistant Ingénieur Qualité - Beyrand (H/F)\n            </h2>\n          </a>\n        <div class="t-14 truncate">\n          <span>Hermès</span>\n            <span class="jobs-unified-top-card__bullet">Limoges, Nouvelle-Aquitaine, France</span>\n            <span class="jobs-unified-top-card__workplace-type">On-site</span>\n        </div>\n      </div>\n      <div class="jobs-unified-top-card__sticky-buttons-container">\n          <div class="jobs-s-apply jobs-s-apply--fadein inline-flex mr2">\n    <div class="jobs-apply-button--top-card">\n  <button role="link" aria-label="Apply to Stage - Assistant Ingénieur Qualité - Beyrand (H/F) on company website" id="ember655" class="jobs-apply-button artdeco-button artdeco-button--icon-right artdeco-button--2 artdeco-button--primary ember-view">  <li-icon aria-hidden="true" type="link-external" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">\n  <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>\n</svg></li-icon>\n\n<span class="artdeco-button__text">\n    Apply\n</span></button>\n</div>\n</div>\n\n          <button class="jobs-save-button mr2 artdeco-button artdeco-button--2 artdeco-button--secondary" aria-expanded="false" type="button">\n<!---->      <span aria-hidden="true">\n        Save\n      </span>\n    <span class="a11y-text">\n      Save Stage - Assistant Ingénieur Qualité - Beyrand (H/F) at Hermès\n    </span>\n</button>\n\n        <div id="ember473" class="artdeco-dropdown jobs-options artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view inline-flex">\n  \n          <button aria-expanded="false" id="ember474" class="artdeco-button artdeco-button--2 artdeco-button--tertiary artdeco-button--muted artdeco-button--circle artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n\n            <li-icon aria-hidden="true" type="overflow-web-ios" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"></path>\n</svg></li-icon>\n            <span class="artdeco-button__text">\n              Show more options\n            </span>\n          \n<!----></button>\n        \n  <div tabindex="-1" aria-hidden="true" id="ember475" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n      </div>\n    </div>\n</div>\n\n<!---->      </div>\n\n<!---->\n        <div class="jobs-box--fadein jobs-box--full-width jobs-box--with-cta-large jobs-description\n    \n    \n    \n     jobs-description--reformatted\n    \n    ">\n\n<!---->\n  <article class="jobs-description__container\n      m4">\n    <div class="jobs-description__content jobs-description-content\n        ">\n      <div class="jobs-box__html-content jobs-description-content__text t-14 t-normal\n          jobs-description-content__text--stretch" id="job-details" tabindex="-1">\n<!---->\n<!---->\n<!---->        <span>\n                <strong><u>LA SOCIETE :</u> </strong><p><br>\n</p>Créée en 1926, la société Beyrand, filiale du Groupe Hermès depuis 2013, met au point, développe et reproduit les décors de ses clients sur des supports tels que la céramique (bone china, faïence et porcelaine), l\'émail, le verre ou le cuir.<p><br>\n</p>Par la précision de son savoir-faire et sa capacité à innover, Beyrand se positionne comme référent mondial dans le domaine de l’impression sérigraphique et partenaire d’excellence pour l’industrie du luxe.<p><br>\n</p>Des choix stratégiques et technologiques ambitieux destinés à s’adapter aux besoins de ses clients, actuels et à venir, permettent aujourd’hui à Beyrand d’étendre son expertise au-delà de ses marchés traditionnels (Art de la Table, sanitaire, <i>giftware</i>) pour conquérir et développer de nouveaux territoires (notamment maroquinerie). Son ambition est d’affirmer son positionnement d’excellence sur le marché B2B de décoration de l’industrie du luxe, en proposant un savoir-faire de décoration de haute précision sur une variété de supports, faisant appel à une variété de technologies.<p><br>\n</p><strong>Stage de 6 mois à pouvoir pour janvier 2023. Basé à Saint-Just-le-Martel, à proximité de Limoges.</strong><p><br>\n</p><strong><u>MISSIONS GENERALE :</u></strong><p><br>\n</p>Le/la stagiaire Ingénieur Qualité aura pour mission d’accompagner le Responsable Qualité du site dans la mise en place de méthodes de résolution de problèmes dans les ateliers, dans la formalisation de nos processus et plans de contrôle ainsi que dans la robustesse des contrôles amonts au process de fabrication. Ces étapes s’inscrivent dans notre feuille de route d’amélioration continue de la Qualité opérationnelle de l’entreprise et de la satisfaction de nos clients.<p><br>\n</p><strong><u> PRINCIPALES ACTIVITES : </u></strong><p><br>\n</p><ul><li>Résolutions de problèmes terrain</li><li>Déploiement de méthode type QRQC en ateliers de production (impression, couleurs, écrans) </li><li>Participation à des groupes de travail sur la résolution de problèmes Qualité (internes &amp; externes) </li><li>Coconstruire les outils de formation et piloter leurs déploiements auprès des opérationnels </li><li>Opérations de contrôles</li><li>Définition/formalisation de plans de contrôles génériques par type de produit </li><li>Animation des tests Reproductibilité &amp; Répétabilité des outils de mesure (spectrophotomètres…) </li><li>Amélioration/mise en place de contrôles sur les paramètres critiques en amont de l’impression (couleur des pâtes, dimensions tissus…) </li><li>Système qualité</li><li>Déploiement du système qualité sur les postes (modes opératoires et procédures) </li><li>Mettre en place des audits produit/process pour renforcer la culture Qualité sur le site </li><li>Participation à la capitalisation des savoir-faire <br>\n</li></ul><p><br>\n</p><strong><u>PROFIL :</u></strong><p><br>\n</p>Étudiant(e) de formation Bac +5 à dominante industrielle à la recherche d’un stage de fin d’études (6 mois), avec idéalement une première expérience en entreprise (Qualité, Méthode, Production).<p><br>\n</p>Vous êtes à l’aise avec les outils et méthodes de l’amélioration continue : Plan de surveillance, 5 Pourquoi, 5M, 5S, Muda, AMDEC Risques…<p><br>\n</p>Vous souhaitez vous investir dans une expérience formatrice et très opérationnelle.<p><br>\n</p>Vous êtes curieux, autonome et vous avez de grandes capacités d’analyse et de rigueur, tout en ayant un bon sens pratique et un goût pour le terrain, avec des capacités à mettre en œuvre les méthodologies de résolution de problème.<p><br>\n</p>Enfin, vous avez un excellent niveau de communication écrit et oral.\n<!---->        </span>\n      </div>\n<!---->      <div class="jobs-description__details">\n<!---->\n      </div>\n    </div>\n  </article>\n<!----></div>\n<!----><!---->\n                <div id="SALARY" class="ember-view jobs-box--generic-occludable-area-large   jobs-unified-description__salary-main-rail-card">\n<!---->    </div>\n\n\n<!----><!---->\n<!---->\n<!---->\n                <div id="ember657" class="ember-view jobs-box--generic-occludable-area-large  ">\n<!---->    </div>\n\n\n<!---->    </div>\n\n<!---->  </div>\n\n  <div id="ember477" class="ember-view"><!----></div>\n\n<div id="ember478" class="ember-view"><div id="ember479" class="ember-view"><!----></div></div>\n\n  <div>\n  <div id="ember480" class="ember-view"><!----></div>\n</div>\n\n  <div id="ember481" class="ember-view"><!----></div>\n\n<!---->\n  <div class="jobs-message-modal">\n  <div id="ember482" class="ember-view"><!----></div>\n</div>\n\n<!---->\n<!---->\n<!---->\n  <div id="ember483" class="ember-view"><!----></div>\n'

We are going to use Beautiful Soup library to find all the job titles. They are hidden under h2 tags.

In [5]:
df['title'] = df['html'].apply(lambda x:  BeautifulSoup(x).find('h2').text.strip())

In [6]:
df.sample()

,Unnamed: 0,html,title
297,297,"\n <div>\n <div class=""\n jobs-deta...",Data Analytics Analyst

Next thing we can find is location. For each job we will find a corresponding tag and put it into a try-except cycle.

In [7]:
def get_geo(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__bullet').text.strip()
    except:
        return np.nan

In [8]:
df['geo'] = df['html'].apply(get_geo)

In [9]:
df.sample()

,Unnamed: 0,html,title,geo
213,213,"\n <div>\n <div class=""\n jobs-deta...",Machine Learning Engineer,"Paris, Île-de-France, France"

We can extract the exact city and remove all the excessive info from the geo column

In [10]:
def get_city(cell):
    if len(cell.split(',')) > 1:
        return cell.split(',')[0].strip()
    elif "Metropolitan" in cell or "Greater" in cell:
        return cell.replace('Greater', '').replace('Metropolitan', '').replace('Area', '').replace('Region','').strip()
    else:
        return np.nan

In [11]:
df['city'] = df['geo'].apply(get_city)

In [12]:
df.sample()

,Unnamed: 0,html,title,geo,city
723,723,"\n <div>\n <div class=""\n jobs-deta...",Backend Engineer - Personalization,Sweden,NaN

Same thing, we can extract the exact country.

In [13]:
def get_country(cell):
    if len(cell.split(',')) > 1:
        return cell.split(',')[-1].strip()
    elif "Metropolitan" in cell or "Greater" in cell or "Region" in cell:
        return np.nan
    else:
        return cell

In [14]:
df['country'] = df['geo'].apply(get_country)

In [15]:
df.sample()

,Unnamed: 0,html,title,geo,city,country
614,614,"\n <div>\n <div class=""\n jobs-deta...",Ing. Elettronico/Data Analyst,"Rome, Latium, Italy",Rome,Italy

Similarly, we can find job types.

In [16]:
def get_job_type(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__workplace-type').text.strip()
    except:
        return np.nan

In [17]:
df['job_type'] = df['html'].apply(get_job_type)

In [18]:
df.sample()

,Unnamed: 0,html,title,geo,city,country,job_type
487,487,"\n <div>\n <div class=""\n jobs-deta...",Software Engineer - Application Frameworks and...,"Dublin, County Dublin, Ireland",Dublin,Ireland,Hybrid

...and company names

In [19]:
def get_company_name(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__company-name').text.strip()
    except:
        return np.nan

In [20]:
df['company_name'] = df['html'].apply(get_company_name)

In [21]:
df.sample()

,Unnamed: 0,html,title,geo,city,country,job_type,company_name
284,284,"\n <div>\n <div class=""\n jobs-deta...",Data Internet Analyst,Kortrijk Metropolitan Area,Kortrijk,NaN,Remote,Appen

...and number of employees working for these companies.

In [22]:
def get_employee_number(cell):
    try:
        return BeautifulSoup(cell).find('div', class_= 'mt5 mb2').find_all('li')[1].text.strip().split(' · ')[0].strip().split(' ')[0].strip()
    except:
        return np.nan

In [23]:
df['employee_number'] = df['html'].apply(get_employee_number)

In [24]:
df.sample()

,Unnamed: 0,html,title,geo,city,country,job_type,company_name,employee_number
133,133,"\n <div>\n <div class=""\n jobs-deta...",Graduate Developer (J12998),"Albufeira, Faro, Portugal",Albufeira,Portugal,Remote,Pareto,201-500

...and number of candidates for the job.

In [25]:
def get_candidates(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__applicant-count').text.strip().split(' ')[0].strip()
    except:
        return np.nan

In [26]:
df['candidates'] = df['html'].apply(get_candidates)

In [27]:
df.sample()

,Unnamed: 0,html,title,geo,city,country,job_type,company_name,employee_number,candidates
227,227,"\n <div>\n <div class=""\n jobs-deta...","Data Analyst with Spanish (shifts), Corporate ...","Gdynia, Pomorskie, Poland",Gdynia,Poland,Hybrid,LSEG (London Stock Exchange Group),"10,001+",3

...and a company's field.

In [28]:
def get_company_field(cell):
    try:
        return BeautifulSoup(cell).find('div', class_= 'mt5 mb2').find_all('li')[1].text.strip().split(' · ')[1].strip()
    except:
        return np.nan

In [29]:
df['company_field'] = df['html'].apply(get_company_field)

In [30]:
df.sample()

,Unnamed: 0,html,title,geo,city,country,job_type,company_name,employee_number,candidates,company_field
185,185,"\n <div>\n <div class=""\n jobs-deta...",Data Development Analyst,"Madrid, Community of Madrid, Spain",Madrid,Spain,On-site,"Solera, Inc.","5,001-10,000",7,IT Services and IT Consulting

To retrieve sets of skills we can use a ready-made list of Data Anlysts' skills.

In [31]:
skills = (['datahub', 'api', 'github', 'google analytics', 'adobe analytics', 'ibm coremetrics', 'omniture'
            'gitlab', 'erwin', 'hadoop', 'spark', 'hive'
           'databricks', 'aws', 'gcp', 'azure','excel',
            'redshift', 'bigquery', 'snowflake',  'hana'
            'grafana', 'kantar', 'spss', 
           'asana', 'basecamp', 'jira', 'dbeaver','trello', 'miro', 'salesforce', 
           'rapidminer', 'thoughtspot',  'power point',  'docker', 'jenkins','integrate.io', 'talend', 'apache nifi','aws glue','pentaho','google data flow',
             'azure data factory','xplenty','skyvia','iri voracity','xtract.io','dataddo', 'ssis',
             'hevo data','informatica','oracle data integrator','k2view','cdata sync','querysurge', 
             'rivery', 'dbconvert', 'alooma', 'stitch', 'fivetran', 'matillion','streamsets','blendo',
             'iri voracity','logstash', 'etleap', 'singer', 'apache camel','actian', 'airflow', 'luidgi', 'datastage',
           'python', 'vba', 'scala', ' r ', 'java script', 'julia', 'sql', 'matlab', 'java', 'html', 'c++', 'sas',
           'data studio', 'tableau', 'looker', 'powerbi', 'cognos', 'microstrategy', 'spotfire',
             'sap business objects','microsoft sql server', 'oracle business intelligence', 'yellowfin',
             'webfocus','sas visual analytics', 'targit', 'izenda',  'sisense', 'statsbot', 'panorama', 'inetsoft',
             'birst', 'domo', 'metabase', 'redash', 'power bi', 'alteryx', 'dataiku', 'qlik sense', 'qlikview'
          ])

In [32]:
def get_skills(cell):
    list_skills = []
    for skill in skills:
        if skill in cell.lower().replace('powerbi', 'power bi'):
            list_skills.append(skill)
    return list_skills

In [33]:
df['skills'] = df['html'].apply(lambda x: BeautifulSoup(x).find('div', {'id':'job-details'}).text.strip()).apply(get_skills)

In [34]:
df.sample()

,Unnamed: 0,html,title,geo,city,country,job_type,company_name,employee_number,candidates,company_field,skills
644,644,"\n <div>\n <div class=""\n jobs-deta...",Data Engineer (m/f/d) - Pricing Intelligence,"Munich, Bavaria, Germany",Munich,Germany,NaN,Flix,"1,001-5,000",7,Travel Arrangements,"[aws, snowflake, docker, jenkins, airflow, pyt..."

We also can find the exact date for each job offer; we know that the date of parsing is 07-Sep-2022. LinkedIn gives you dates in "x minutes/hours/days ago" format, so we will get around this with timedelta.

In [35]:
def get_date(cell):
    try:
        return BeautifulSoup(cell).find('span', class_= 'jobs-unified-top-card__posted-date').text.strip()
    except:
        return np.nan

In [36]:
df['date'] = (df['html'].apply(get_date))

In [37]:
df.sample()

,Unnamed: 0,html,title,geo,city,country,job_type,company_name,employee_number,candidates,company_field,skills,date
288,288,"\n <div>\n <div class=""\n jobs-deta...",Online Data Analyst,"Split, Split-Dalmatia, Croatia",Split,Croatia,Remote,TELUS International,"10,001+",17,IT Services and IT Consulting,[],6 days ago

In [38]:
date_parsing_str = "2022-09-07"
date_parsing = datetime.strptime(date_parsing_str, "%Y-%m-%d")
def get_right_date(cell):
    if 'days' in cell or 'day' in cell:
        number_of_days = int(cell.split(' ')[0])
        cell = (date_parsing - timedelta(days=number_of_days)).strftime('%Y-%m-%d')
    else:
        cell = date_parsing.strftime('%Y-%m-%d')
    return cell

In [39]:
df['date'] = df['date'].apply(get_right_date)

In [40]:
df.sample()

,Unnamed: 0,html,title,geo,city,country,job_type,company_name,employee_number,candidates,company_field,skills,date
451,451,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,United Kingdom,NaN,United Kingdom,Remote,Endeavor,"5,001-10,000",NaN,Entertainment Providers,"[aws, azure, excel, snowflake, python, r , sq...",2022-09-05

In [41]:
df.date.unique()

array(['2022-09-07', '2022-09-03', '2022-09-01', '2022-09-02',
       '2022-09-05', '2022-09-06', '2022-09-04'], dtype=object)

We will also need exact links for distinctions of offers for Tableau.

In [42]:
df['link'] = df['html'].apply(lambda x: "https://linkedin.com" + BeautifulSoup(x).find('a').get('href'))

We've got all we wanted. So now let's make our data pretty - let's filter relevant offers, get rid of duplicates and excessive columns.

##Data cleaning

First, we'll take a look at job titles. Do we have relevant offers?

In [43]:
df.title.unique()

array(['Stage - Assistant Ingénieur Qualité - Beyrand (H/F)',
       'développeur matlab/simulink, secteur automobile f/h',
       'Online Data Analyst', 'Online Data Analyst - Belgium',
       'Data Analyst', 'Alternant/ Alternante data analyst M/F',
       'Alternant(e) Data Scientist (H/F)',
       'ALTERNANCE- TOTALENERGIES RENEWABLES - Data Engineer (H/F)',
       'Data Engineer (with Python)', 'Junior Test Analyst',
       'Data Analyst H/F',
       'Data Scientist e-Commerce & Acquisition Monétique',
       'Ingénieur de recherche en traitement de données de mobilité H/F',
       'INGENIERO/A PRODUCTO Y CALIDAD AUTOMOCIÓN',
       'Data Scientist - Experience', 'Stage - Data Analyst (H/F)',
       'Data Analyst (F/H)', 'Data Analyst (Tableau)',
       '(Junior) Data Scientist (m/w/d)', 'Junior Data Scientist',
       'Data Scientist en stage H/F',
       'Software Development Engineer (Seville // Madrid) (Madrid or Seville)',
       'DATA SCIENTIST', 'Online Data Analyst | French Speaker',
       'Online Data Analyst | Flexible Work',
       'Assistant(e) Chef(fe) de Projet Innovation - Stage',
       'Football Statistician (Data Collection)',
       'Online Data Analyst | REMOTE OPPORTUNITY',
       'Football & Ice Hockey Statistician (Data Collection)',
       'Data engineer Big Data (H/F) - ELC', 'Data analyst',
       'Data Analyst (IT)', 'Data Analyst (m/f/d)',
       'Data Analyst (M/W/D)', 'Ingénieur Exploitation Junior H/F',
       'DATA SCIENTIST H/F TOULOUSE', 'Remote | Data Analyst',
       'Ingénieur.e Etudes et Développement Python (H/F)',
       'Backend Engineer - Revenue Engineering',
       'Handball Statistician (Data Collection)',
       '(Junior) Financial Data Scientist (w/m/d)',
       'Software Engineer ambito Core Banking (Neolaureati)',
       'Data Analyst SA1/SA2',
       "Data Scientist débutant - Digitalisation des outils d'intégrité Subsea / Digitalisation of Subsea Integrity tools (H/F)",
       'Data Scientist', 'Employé Administratif – Aide comptable',
       'Data analyst | Deals (M&A) | CDI | H/F',
       'Développeur Full Stack expérimenté H/F',
       'Data Analyst - AdSales & StoryWorks', 'Data Analytics Engineer',
       'Data Analyst with focus on solution design (m/f/d)',
       'Remote| Data Analyst', 'Data Analyst - (m/f/d)',
       'Développeur embarqué / python – Besançon, France (H/F)',
       'Alternance - Data Analyst/Dataviz Specialist H/F',
       'Partner Engineer - Consumer Experience', 'Junior Data Engineer',
       'Data Analyst  - Boursorama',
       'Technology Strategy & Advisory Junior Analyst',
       'Data Analyst in Forensic Technology Services team',
       'Data Analyst (m/w/d)', 'Junior Business Analyst',
       'Engineer Standard Cells Generation and Automation (f/m/div)*',
       'Analyste Exploitation Datacenter',
       'Ice Hockey Statistician (Data Collection)',
       'Digital Assets Weekend/Nights Trading Assistant',
       'Data Analyst with Python', 'Online Data Analyst in the UK',
       'Data Analyst Clickshare', 'Data Analyst - Associate',
       'Ingénieur Analyste GC/GCMS H/F', 'Technik kvality (M/Ž)',
       'Work From Home | Data Analyst', 'Internet Analyst',
       'Graduate Cloud Engineering Program (m/f/d)',
       'BIG DATA - Talent Campus', 'Data Analyst - Performance',
       'Consultant Data junior H/F - Data & Analytics',
       'Software Engineer Associate - Milano [DIG]',
       'Graduate Developer (J12995)', 'Data Data Analyst with Spanish',
       'Junior Functional Analyst ambito Canali',
       'Data Analyst (Part-time)', 'Data Analyst Customer Excellence',
       'Digital Assets Trader', 'Internet Analyst (Remote)',
       'Développeur Python (H/F)', 'Data/Analyst Data Translator (H/F)',
       'FULL STACK DEVELOPER', 'Graduate Developer (J12998)',
       'Junior Business Analyst (m/f/d)', 'Product Data Analyst',
       'Data Analyst - Oxfordshire', 'Développeur Siebel (H/F)',
       'Data Engineer - Experience Mission', 'Graduate Data Analyst',
       'Graduate Data Analyst 12 Month FTC', 'DATA ANALYST',
       'Product/Data Analyst', 'Data Analyst - Werkstudent (m/w/d)',
       'Data Engineer - Platform Foundations',
       'Superbe opportunité de Data analyst - 100% à Martigny',
       'Développeur python (H/F)', 'Optimization Data Scientist',
       'Azure Data Engineer', 'Data Engineer',
       'STAGE - DEVELOPPEUR FULLSTACK- Direction IT EXPERIENCE CLIENT (H/F)',
       'Python Developer', 'Digital Analytics Specialist', 'PMO Junior',
       'Développeur Back-End C# .NET Azure IoT H/F',
       'Customer Data Analyst (m/w/d)',
       'Data Analyst Düsseldorf/München gesucht at JSAN Consulting GmbH',
       'Geo Data Scientist', 'Software Engineer I',
       'Data Analyst E-Commerce (m/w/d)', 'CONSULTANT DATA ANALYST (F/H)',
       'Remote | Internet Analyst', 'STAGE - DATA ANALYST MARKETING F/H',
       'Data Internet Analyst', 'Data Analyst RH - F/H',
       'Data Engineer for Business Intelligence/ Data Analytics team',
       'Data Scientist - H/F', 'Data Development Analyst',
       'Data Analyst in Technology Team, Financial Crime Unit',
       'Application Engineer (Regulatory Data)', 'Junior Data Analyst',
       'Software engineer', 'Data Scientist (mf/d)',
       'Software Engineer Dataiku Online - Paris or Remote France',
       'Data Analyst (CDM 8 mois)', 'Asset Data Analyst',
       'DEVELOPPEUR PYTHON H/F NANTES', 'MACHINE LEARNING ENGINEER',
       'Junior Software/Cloud Engineer - Harderwijk', 'Data Engineer F/H',
       'Internet Analyst | Greater Bologna Metropolitan Area',
       'Data Analyst (m/w/d) - Automotive', 'Machine Learning Engineer',
       'Stage BI Business Intelligence', 'Junior Data Scientist-Stage',
       'Data Scientist - Part of Shell Graduate Programme',
       'Graduate Developer (J12996)', 'Product Data Analyst (V.I.E.) H/F',
       'DATA ANALYST - F/H - IDF', 'Software Engineer - Performance',
       'Engineer chemical supply CMP (w/m/div)*',
       'Data Analyst with Spanish (shifts), Corporate Actions',
       'Material Data Analyst', 'Junior Data & AI Engineer',
       'Data Analyst (Hydro)', 'Graduate Data Scientist',
       'Junior Python Developer',
       'Transaction Monitoring Data Scientist in Technology Team, Financial Crime Unit',
       'Data Scientist (w/m/d)', 'Data Analyst - Part time',
       'CONSULTANT.E JUNIOR- DEVELOPPEMENT DE NOUVEAUX BUSINESS',
       'Data Analyst (Product & Operations) - Sustainability',
       'Data Analyst/Data-Analystin - IT Forensik (m/w/d)',
       'Operations Data Analyst (They/She/He)', 'Analyst',
       'Analytics API/BE Developer', 'Analyst Big Data',
       '(Junior) H2 Modelling Analyst m/f/t', 'Data engineer - F/H',
       'Back-End Developer M/F',
       'Consultant Junior Digital Operations - Aéronautique/Spatial',
       'Enseignant-chercheur spécialité électronique embar',
       'Ingenieur Messtechnik (m/w/d)',
       'Data Analyst (m/f/d) Brand Marketing',
       'Internet Analyst - Remote',
       'Business Analyst / Consultant IT Sourcing (m/w/d) in Düsseldorf',
       'Ingénieur-e Optronique F/H', 'STAGE data analyst H/F',
       'ALTERNANT PRODUCT OWNER H/F', 'Analyste Risque Retail-(H/F)',
       'Simulation Ingenieur Insassenschutz (m/w/d)',
       'Data Analyst - 9 Month Fixed Term Contract',
       'Commercial Data Analyst', 'Junior Analyst (J12998)',
       'Data Engineer for Business Intelligence/Data Analytics team',
       'Consultant Junior | CIO Advisory | CDI | H/F',
       'Incentives Analyst', 'Data Analytics Analyst',
       'Data Analyst (f/m/d)',
       'Remote Opportunity for Norwegian speakers | Media Search Analyst',
       'Data Engineer / Analytics Product Owner',
       'Graduate Python Developer',
       'Business Intelligence & Market Insights Analyst',
       'Junior Analytics Engineer (m/w/d)', 'Ingeniero/a RAM',
       'Analista funzionale', 'Thesis Worker, Simulation',
       'Python Developer - AWS / CI/CD - Swiss Insurance Company',
       'Paid Social Specialist',
       'Data, Reporting and Insights Specialist',
       'Electrification engineer Martorell - Several Engineering positions (Power electronics)',
       "Chargé.e d'études Flux et Mobilités (CDI) - F/H",
       'PHP Full Stack Developer', 'Stage Digital Analytics - Marketing',
       'Data Engineer Spark Scala Sensitivities (H/F) IT CIB',
       'Financial Analyst', 'Engineer',
       'Data Scientist - Field Marketing', 'Environmental Data Analyst',
       'Data Analyst - Marketing', 'Data Analyst TUI.com (m/w/d)',
       'Data Analyst (Tijdelijk - 3 Maanden)',
       'Data Analyst & Coordinator',
       "Data Analyst & développement digital de l'Audit Compagnie F/H",
       'AI/ML Engineer', 'Data Analyst Télécom (IT)',
       'Performance and Data Analyst', 'Data Scientist .',
       'Stagiaire Développeur solution L4G',
       'Software Engineer - Data Visualization',
       'Solution Analyst area MES',
       'Python Engineer for Booking Backend Tribe',
       'Data Analyst - Analytics and Insights - Data Center of Excellence',
       'Stage innovation – DATA SCIENTIST – IA H/F',
       "Jeune Docteur R&D - Data Science & IA dans la Finance d'Entreprise - H/F",
       'Junior Analyst (J12997)',
       'Business Analytics & Service Enhancement Specialist (Maternity Cover)',
       'Data Analyst (Spotfire and/or Mendix, SQL and Python), Veldhoven',
       'CX Data Analyst', 'Skilled Data Scientist', 'Power BI Developer',
       'Young Graduate Data Engineer', 'Customer Engineer',
       'Softwareentwicklerin/Softwareentwickler',
       'Développeuse/Développeur Odoo / Python',
       'Développeur Python - F/H', 'Data analyst Datalake (F/H)',
       'Back-End Engineer, DeFi',
       'DATA SCIENTIST / DATA ENGINEER, Secteur aéronautique',
       'Développeur BI junior F/H', 'Apprenti.e Data analyst (h/f)',
       'Quality Engineer electronics',
       'Data Analyst (Spotfire and/or Mendix, SQL and Python) - Veldhoven',
       'Cryptography Specialist Engineer (Snaps)',
       'Internet Analyst | Greater Turin Metropolitan Area',
       'Software Engineer', 'Graduate Developer',
       'Online Data Analyst - Sweden',
       'Part-time Work Opportunity | Online Data Analyst',
       'Developer Sophis Back-Office (H/F)',
       'Ingénieur en développement Python sur les traitements de médias (H/F)',
       'Ingénieur qualité images satellites - F/H',
       'Software Engineer - Compute', 'C++ Developer',
       'Internet Analyst (Part-time)',
       'Ingénieur R&D Ruby / Python F/H H/F',
       'Data Engineer junior | MedTech', 'Reporting & Data analyst',
       'Junior Business Analyst (m/w/d)', 'Junior Analyst (J12995)',
       'Consultant junior Transports H/F - Utilities, Postal & Transportation',
       'Data Modelling Analyst',
       'Data Analyst mit Fokus auf Up- und Crossselling (m/w/d)',
       'Associate Data Analyst - Product Analytics',
       'Data Analyst - Finance',
       'analista di processi e tecnologie industriali di produzione.',
       'Internet Analyst (Remote Set-up)',
       'Speech Data Collection in Germany',
       'Developer Manufacturing Processes PWR (f/m/d)',
       'Search Engine Optimization Analyst', "Chargé d'études Sport",
       'Yahoo Finance Backend Engineer',
       'Pensions Administration Data Analyst',
       'Data Analyst (Marketing Team)',
       'Backend Engineer - Data Platform', 'Junior Analyst (J12996)',
       'Business Analyst H/F', 'Data Entry Specialist',
       'Ingénieur Pilote Non Conformités - H/F - PARIS',
       'Data Analyst & BusinessObjects Developer', 'Software Developer',
       'Data Scientist - Torino',
       'NEOLAUREATO/A IN ECONOMIA per attività di CONSULENTE JUNIOR APPLICATIVO ERP/INGEGNERIA',
       'Data analyste - H/F - Alternance', 'Data Analyst, Digital',
       'Stage - Business Intelligence / Service Qualité - BAc +5 (dépt 27 - Le Vaudreuil)- F/H',
       'Développeur Objet domaine défense H/F',
       'Enterprise Architect Junior Analyst [Online / Phone Recruitment]',
       'Consultant junior H/F - IT Strategy',
       'Data Engineer - Data Science Engineering',
       'Data Analyst-Tecan Evo Plus and Fluent Biosero GBG',
       'Junior Market Data Analyst', 'SOFTWARE ENGINEER',
       'Data Analyst - Demand', 'DEVELOPPEUR PYTHON (H/F) IDF',
       'Développeur Python',
       'Data Analyst (Insurance) - Multiple Positions',
       'Data Analyst, Banking & Insurance',
       'Remote | Software Engineer (Golang) Poland',
       '(Senior) Fullstack Engineer (all genders) Remote',
       'Studentische Mitarbeiterin / Studentischer Mitarbeiter (m/w/d) im Business Management der Volkswagen Consulting, Schwerpunkt Personalmarketing und Social Media',
       'Software Engineer (m/f/x)- Remote/ Hybrid',
       'Développeur Full-stack expérimenté(e) (H/F)',
       'DATA ENGINEER SKYWISE [H/F/D]', 'Online Data Analyst - Slovenia',
       'PT Compliance Hub - Data Analyst', 'DEVOPS ENGINEER',
       'Traineeship Data Analist', 'Data Engineer - Metrics',
       'Werkstudent Pricing (w/m/d) - Smart Starter Programm',
       'Commercial Data Analyst - Online Travel - London - £40K',
       'Online Data Analyst - Croatia', 'API Developer',
       'Junior Product Owner',
       'Software Engineer - Application Frameworks and Project Bootstrapping',
       'Développeur full stack F/H', 'Location Strategy & Data Analyst',
       'Software Backend Engineer (m/f/d)', 'Data Entry in Spain',
       'Cybersecurity Data Analyst', 'Data Analyst Product, CRO expert',
       'Web Analyst for Czech Speaker in Germany',
       'Media Search Analyst - German (DE)',
       'Data Engineering & Data Warehouse Analyst (all genders)',
       'Chef de projet data F/H', 'GIS Asset Data Analyst',
       'Data Engineer (Analytics)',
       'Data Scientist / Machine Learning Engineer',
       'Ingénieur prévisions des énergies', 'Homologation Engineer',
       'Data Specialist (Steward / Analyst)', 'Analyste Data H/F',
       'Data Scientist-Analyst GERS (H/F) - Boulogne-Billancourt (France)',
       'Analytics Engineer - Internal Analytics',
       'Stagiaire Ingénieur Data (F/H)', 'Test Engineer DevOps',
       'Customer Ledger Data Analyst',
       'Data Analyst (m/f/d) Workload Planning (Business Administrator (Fachschule) - Information Processing)',
       'Data Analytics Developer', 'People Systems and Data Analyst',
       'Développeur C++ - QT - H/F - Paris', 'Kubernetes Developer',
       'Software Engineer - Resilience',
       'Product Data Analyst / Analytics Engineer — London',
       'Promoter Engineer', 'ML Ops Engineer',
       'Online Data Analyst - Slovakia',
       'SSWHG35824 - Data Analyst, CHAIR Programme, Section Officer, Grade VI',
       'Social Media Analyst',
       'JUNIOR CONSULTANT - SETTORE INNOVAZIONE TECNOLOGICA\xa0- SP10868',
       'OutSystems Developer', 'Insight Analyst',
       'Data Analyst | E-commerce & Crowdfunding',
       'Quality Engineer - Product Analyst', 'DevOps Engineer',
       '(Junior) Consultant Digitales & Strategisches Prozessmanagement (m/w/d) in Stuttgart',
       "Stagiaire Développeur d'outils pédagogiques de formation (H/F)",
       'SW Developer in Test (C++) – Brno',
       'Data Analyst for Portuguese Speakers',
       'Sample Management Data Analyst',
       'Stage - Développeur FullStack (H/F)', 'Data engineer H/F',
       "Analyste risques suivi d'activité de marché-(H/F)",
       'Développeur Python Back-end',
       'Application Data Analyst Hybrid working',
       'Inventory data analyst til Europas største kontorartikelleverandør',
       'Junior Consultant - Taranto', 'Data Analyst Pricing – F/H',
       'SVILUPPATORE C++/PYTHON', 'Data Analyst - Regulatory Affairs',
       'Language Data Analyst - Hebrew', 'Acoustic Data Analyst',
       'Systems Data Analyst', 'Ingenieur für die Produktion (m/w/d)',
       'Ingénieur en télédétection et physique atmosphérique - F/H',
       'BI Engineer, Business Intelligence #SWX H/F',
       'Software function developer for electric powertrain control',
       'Junior Network Quality Engineer',
       'Junior Data Governance Specialist',
       'Junior Technical Analyst (all genders)',
       'Business Intelligence Consultant',
       'Risk Analytics & AI Professionals',
       'Cloud Engineer bij InnoValor', 'Functional Analyst',
       'Master Data (bilingue anglais) H/F', 'SW integrator engineer',
       '(JUNIOR) CONSULTANT (M/W/D) TRANSFORMATION & DATA, bis 70k',
       'Data Steward', 'Consultant (m/w/d) AI & Data Science in Hamburg',
       'Apprenti Ingénieur Business Intelligence (H/F) - NIEDERHERGHEIM',
       'HR Group Reward & HR Data Analyst',
       'Media Search Analyst | French Speaker', 'Data Associate',
       'Data Engineer - Internal Analytics', 'Interim HR Data Analyst',
       'Language Researcher / Data Analyst - French',
       'Online Data Analyst - Hungary', 'P2P Operations Credit Analyst',
       'Ing. Elettronico/Data Analyst',
       'Customer Data Platform (CDP) Specialist / Customer Data Consultant / MarTech Expert / Data Analyst (H/F)',
       'Module Data Science Engineer',
       'Advance Analytics and AI practitioner',
       'Data Analyst / Consultant Qlikview/Qliksense (m/w/d)',
       'Quality Assurance Analyst', 'Python Software Engineer',
       'Développeur C# H/F', 'Fullstack Python Developer - Data Lake',
       'Junior Entwickler (m/w/d) – Data Science Automotive',
       'Analytics Engineer (open to full remote in Germany)',
       'Scientific programmer and data analyst',
       'Software Engineer - Site Reliability',
       'Software Engineer (m/w/d)', 'Ingénieur-e écoconception F/H',
       'Genomics Data Analyst',
       'Analytics Engineer (open to full remote in Spain)',
       'Junior Engineer for Dynamic Mooring Analyses',
       'Data Research Analyst', 'Junior Developer - Low-Code (m/w/d)',
       'Junior Business Intelligence Analyst',
       'Praktikant / Werkstudent Data Analyst (m/w/d) Financial Services Industry',
       'Junior data scientist/onderzoeker',
       'Praktikum Trade Marketing – Dove, Axe, Duschdas (m/w/d)',
       'Data Engineer (m/f/d) - Pricing Intelligence',
       'Data Administrator',
       'Ingénieur IVVQ-Spatiale – Valence, France (H/F)',
       'Ingénieur Qualité Projet Développement',
       'Quality Engineer Junior', 'BI Data Analyst Intern (f/m/x)',
       'Support Engineer',
       'Python Entwickler (gn) für AUTOSAR-XML: Ingolstadt & remote',
       'Practice Data Engineer F/H', 'Senior Analytics Consultant',
       'Internet Analyst | Florence, Italy Metropolitan Area',
       'Technical Support Engineer - Azure Synapse Analytics',
       'Analytics Engineer (open to full remote in France)',
       'Junior Consultant', 'Data Engineer – E-Commerce',
       'Data Architect/ Engineer Graduate',
       'Graduate Marketing Technology Analyst',
       'Desarrollador/a Mercado Canal Nocturno, Barcelona',
       'ESG Data Specialist',
       'Duales Masterstudium Applied Data Science (m/w/d)',
       'Développeur Python H/F',
       '(Junior) Consultant Digitales & Strategisches Prozessmanagement (m/w/d) in Berlin',
       'Ingénieur logiciel – Caen, France (H/F)',
       'Ocean Freight Operator',
       'Qualitätsingenieur (*) für Medizinprodukte', 'Developer, C#',
       'Ingénieur Opérations Sol H/F', 'Consulente junior',
       'SAS Engineer/Consultant',
       'Data Expert (m/w/d) für das Rail-Segment',
       '(Junior) Software Developer - Python', 'Junior Energy Analyst',
       'Language Data Analyst', 'Data Scientist - Data Science',
       'Data Junior Analyst [Online / Phone Recruitment]',
       'Traffic Analyst', 'Junior Developer (J12998)',
       'Assistenz (w/m/d) des CEO West - Schwerpunkt Data Analyst / Controlling',
       'Project Services Assistant', 'CONSULENTE APPLICATIVO ERP JUNIOR',

Oops, here we have some irrelevant ones. We will get rid of them.

In [44]:
len(df)

772

In [45]:
pattern = 'Data Ana|BI Ana|Business Intelligence Ana'
mask = df['title'].str.contains(pattern, case=False)
len(df[mask])

266

Uh-oh, from 772 to 266. However, now our data is clean.

In [46]:
df = df[mask].reset_index()

Do we have any duplicates?

In [47]:
df.duplicated(subset=['html']).sum()

0

Do we have any NaNs?

In [48]:
df.isna().sum()

index               0
Unnamed: 0          0
html                0
title               0
geo                 0
city               18
country            13
job_type           51
company_name        0
employee_number     1
candidates         28
company_field      20
skills              0
date                0
link                0
dtype: int64

Yes, we do. We can manually insert the missing info to 'country'.

In [49]:
df[df['country'].isna()].sample()

,index,Unnamed: 0,html,title,geo,city,country,job_type,company_name,employee_number,candidates,company_field,skills,date,link
174,344,344,"\n <div>\n <div class=""\n jobs-deta...",Data Analyst,Greater Zurich Area,Zurich,NaN,Remote,Appen,"501-1,000",23,IT Services and IT Consulting,[excel],2022-09-02,https://linkedin.com/jobs/view/3243899023/?alt...

In [50]:
df.at[5,'country']='Poland'
df.at[13,'country']='Poland'
df.at[16,'country']='Sweden'
df.at[17,'country']='Poland'
df.at[19,'country']='Poland'
df.at[20,'country']='Scotland'
df.at[41,'country']='Poland'
df.at[61,'country']='Poland'
df.at[100,'country']='Romania'
df.at[103,'country']='Italy'
df.at[174,'country']='Switzerland'
df.at[183,'country']='Spain'
df.at[192,'country']='Spain'

In [51]:
df.country.unique()

array(['Sweden', 'Belgium', 'Germany', 'France', 'Poland', 'Gibraltar',
       'Scotland', 'United Kingdom', 'Finland', 'Switzerland',
       'Netherlands', 'Norway', 'Czechia', 'Bulgaria', 'Italy',
       'Portugal', 'Spain', 'Slovakia', 'Romania', 'Luxembourg',
       'Ireland', 'Croatia', 'Slovenia', 'Denmark', 'Greece', 'Hungary'],
      dtype=object)

We cannot do anything about the cities - the info is missing even in 'geo'.

In [52]:
df[df['city'].isna()].sample()

,index,Unnamed: 0,html,title,geo,city,country,job_type,company_name,employee_number,candidates,company_field,skills,date,link
39,70,70,"\n <div>\n <div class=""\n jobs-deta...",Data Analytics Engineer,Poland,NaN,Poland,Remote,EPAM Systems,"10,001+",24,IT Services and IT Consulting,[sql],2022-09-07,https://linkedin.com/jobs/view/3256715174/?alt...

Let's also fill our empty cells in for convenience

In [53]:
df[['city', 'employee_number', 'job_type', 'company_name', 'candidates', 'company_field']] = \
 df[['city', 'employee_number', 'job_type', 'company_name', 'candidates', 'company_field']].fillna('unknown')

In [54]:
df.isna().sum()

index              0
Unnamed: 0         0
html               0
title              0
geo                0
city               0
country            0
job_type           0
company_name       0
employee_number    0
candidates         0
company_field      0
skills             0
date               0
link               0
dtype: int64

In [55]:
df.columns

Index(['index', 'Unnamed: 0', 'html', 'title', 'geo', 'city', 'country',
       'job_type', 'company_name', 'employee_number', 'candidates',
       'company_field', 'skills', 'date', 'link'],
      dtype='object')

Let's delete unimportant columns

In [56]:
df = df.drop(['index', 'Unnamed: 0', 'html','geo'],axis=1)

In [57]:
df.sample()

,title,city,country,job_type,company_name,employee_number,candidates,company_field,skills,date,link
257,Scientific programmer and data analyst,Delft,Netherlands,On-site,Technische Universiteit Delft,"5,001-10,000",24,Research Services,"[python, matlab, c++]",2022-09-01,https://linkedin.com/jobs/view/3247572656/?alt...

Maybe it makes sense to make some categories for the "employee_number" column

In [58]:
df.employee_number.unique()

array(['10,001+', '201-500', '1,001-5,000', '51-200', '5,001-10,000',
       '501-1,000', '11-50', '1-10', 'Government', 'See', 'unknown', 'IT'],
      dtype=object)

We also have some artifacts in this column. Let's nullify them and create categories

In [59]:
df.loc[df["employee_number"] == "1-10", "employee_number"] = "small"
df.loc[df["employee_number"] == "11-50", "employee_number"] = "small"
df.loc[df["employee_number"] == "51-200", "employee_number"] = "small"
df.loc[df["employee_number"] == "201-500", "employee_number"] = "small"
df.loc[df["employee_number"] == "501-1,000", "employee_number"] = "small"

In [60]:

df.loc[df["employee_number"] == "Government", "employee_number"] = 'unknown'
df.loc[df["employee_number"] == "See", "employee_number"] = 'unknown'
df.loc[df["employee_number"] == "IT", "employee_number"] = 'unknown'

In [61]:
df.loc[df["employee_number"] == "1,001-5,000", "employee_number"] = "middle"
df.loc[df["employee_number"] == "5,001-10,000", "employee_number"] = "middle"

In [62]:
df.loc[df["employee_number"] == "10,001+", "employee_number"] = "big"

In [63]:
df.employee_number.unique()

array(['big', 'small', 'middle', 'unknown'], dtype=object)

For our further work in Tableu it's better to use the explode() function.

In [64]:
df = df.explode('skills')

##Final file for Tableau

In [65]:
df.to_csv('linkedin_for_tableau.csv', index = False)

Final dashboard countained: 

1.   Amount of offers per sity of the map of Europe
2.   Top ten company fields
3.   Most popular hard skills 
4.   Amount of offers per country (%)
5.   Amount of offers per job type 
6.   Amount of offers per company size
7.   Top ten most popular hiring companies

Plus an indicator of the total amount of offers and two filters: by country and by job type.

Link to Tableau Public https://public.tableau.com/views/LinkedInDABIEntryLeveloffersfor01-07Sep2022/Dashboard1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

![New Bitmap Image.jpg]()